/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.logreg{
	display: inline-block;
	vertical-align: top; 
	border: 1px black groove;
	padding: 10px;
	margin:10px;
	width: 400px;
}

.logreg label{
	color: grey;
}

.flash_mess{
	color: red;
	line-height: 4px;
}

.flash{
		float: right;
	background-color: pink;
	width: 400px;
	text-align: center;
	display: inline-block;
}

.dis_posts{
	display: inline-block;
	margin-top:50px;
}

.dis_cont{
	border: 1px black solid;
	width: 250px;
	padding: 10px;display: inline-block;	
}

.post_liked{
	margin-top:100px;
}